<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}InstaGratification{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/themes.css' %}">
  <script src="{% static 'js/theme.js' %}"></script>
  <script src="{% static 'js/carousel.js' %}" defer></script>
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
  {% block extra_js %}{% endblock %}
</head>
<body>
  <nav>
    <div class="nav-inner">
      <div class="title-section">
      <a href="{% url 'posts:feed' %}" style="text-decoration:none">
      <img src="{% static 'images/logo.png' %}" style="width:30px;height:30px" alt="Insta-Gratification Logo" class="nav-logo-icon">
      <img src="{% static 'images/title.png' %}" style="height:30px" alt="Insta-Gratification Title" class="nav-title-icon">
      </a>
      </div>
      <div class="nav-links">
        {% if user.is_authenticated %}
          <p>logged in as {{ user.username }}</p>
          <a class="me-4 search-link" href="{% url 'accounts:search' %}" aria-label="Search Users"><span class="search-icon" aria-hidden="true"></span></a>
          <a class="me-4 new-post-link" href="{% url 'posts:post_create' %}" aria-label="New Post"><span class="new-post-icon" aria-hidden="true"></span></a>
          <a href="{% url 'accounts:profile' user.username %}"><img src="{% static 'images/user.png' %}" style='width:30px;height:30px;' alt="Edit Profile" class="edit-profile-icon"></a>
          <form method="post" action="{% url 'accounts:logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        {% else %}
          <a href="{% url 'accounts:login' %}">Login</a>
          <a href="{% url 'accounts:register' %}">Register</a>
        {% endif %}
        <div class="theme-selector">
          <button class="theme-toggle" aria-label="Change theme">☀️</button>
          <div class="theme-dropdown">
            <div class="theme-option" data-theme="light">Light</div>
            <div class="theme-option" data-theme="dark">Dark</div>
            <div class="theme-option" data-theme="dim">Dim</div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% block content %}{% endblock %}
  </div>
</body>
</html>
